.photo-gallery {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.flex-box {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.image {
    cursor: pointer;
    width: 200px;
    height: 200px;
}
.flex-box a {
    text-decoration: none;
}
.flex-box a:hover {
    text-decoration: underline;
}
.flex-box span {
    color: black;
}
.flex-box p {
    cursor: pointer;
}
.flex-box p:hover {
    text-decoration: underline;
}
.modal-image {
    width: 450px;
    height: 400px;
}
.close {
    font-size: 16px;
    border: none;
    padding: 5px 10px;
    color: #cccccc;
    background: darkblue;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 40%;
}